.hero {
    padding-top:118px;
    padding-bottom:118px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    background-color: var(--background-color);
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
     rgba(47, 48, 58, 0.4)),url(../images/Hero_mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
@media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Hero_mob2x.jpg);
            }
@media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Hero_tab.jpg);
@media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Hero_tab2x.jpg);
            }
}
@media screen and (min-width: 1200px){
        padding: 200px 0;
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),url(../images/img-hero.jpg);
@media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),url(../images/hero_des2x.jpg);
            }
}
}
.hero__container{
    @media screen and (min-width: 480px){
    padding-left: 60px;
    padding-right: 60px;
}
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--header-color);
    // max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
@media screen and (min-width: 480px) {
    max-width: 360px;
    }
@media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
}
}

