.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    background-color: var(--background-color);
     background-image: url(../images/img-оverlay.png),
        url(../images/img-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

@media screen and (min-width: 1200px){
    padding: 200px 0;
    height: 600px;
}
}
.hero__container{
    padding-left: 0;
    padding-right: 0;
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--header-color);
    // max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
@media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
}
}

