body {
    color: var(--headline-color);
    font-family: Roboto, sans-serif;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.section {
    @media screen and (max-width: 1199px){
       padding-top: 60px;
       padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
    }
}