:root {
    --header-color: #ffffff;
    --background-color: #2F303A;
    --headline-color: #212121;
    --title-color: #757575;
    --accent-color: #2196f3;
    --tipical-margin: 10px;
    --tipical-padding: 94px;
}